.mainpage-form {
	background: #ffffff;
	background: linear-gradient(90deg,#ffffff 5%, #1abc9c 25%);
	background: -webkit-linear-gradient(90deg,#ffffff 5%, #1abc9c 25%);
	background: -moz-linear-gradient(90deg,#ffffff 5%, #1abc9c 25%);
}